@import '_defines/*'

// Project
@import '_base'
@import '_tag-plugins/*'
@import '_highlight'
@import '_plugins/index'
@import '_layout/*'
@import '_custom/*'

//最新评论，直接F12爬的阳光派plus的css，可能还存在不完美的地方，需要改进
.card-comment-item{
    margin: 10px 0 5px 0;
    padding-bottom: 5px;
    position: relative;
    align-items: center;
    display: flex;
	//border-bottom: 1px solid #e2dada;
}
.item-header-text{
    color:#9a9a9a;
    position: relative;
}
.item-text {
    padding: 0;
}
a.newcomment{
    font-weight:bold;
    color:#444;
}
a.newcomment:hover{
    color:#36ac91!important; 
}
a.comments-detail:hover{
    color:#36ac91!important;
}
.card-comment-item .listavatar {
    border-radius: 50%;
    margin: 0 5px;
    //box-shadow: 0 0.125rem 1.0625rem 0 rgba(0,0,0,.08);
}
.circle {
    margin: 0;
}
.card-comment-item .message_c {
    width: 100%;
}
span.comment_date {
    position: absolute;
    right: 4%;
}
a.newcomment {
    color: rgba(24,32,38,0.722) !important;
}

//微信二维码
.fa-weixin {
  position: relative;
}
.fa-weixin img.qrcode {
  position: absolute;
  z-index: 9;
  top: -135px;
  right: -43px;
  width: 7.5rem;
  max-width: none;
  height: 7.5rem;
  transform: scale(0);
  transform-origin: bottom;
  opacity: 0;
  //border: .1rem solid #0085ba;
  border-radius: .25rem;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.fa-weixin:hover img.qrcode {
  transform: scale(1);
  opacity: 1;
}

//自定义按钮样式
.dybutton {
  position: relative;
  display: inline-block;
  background: #D0EEFF;
  border: 1px solid #99D3F5;
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #1E88C7;
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
}
.dybutton input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
}
.dybutton:hover {
  background: #AADFFD;
  border-color: #78C3F3;
  color: #004974;
  text-decoration: none;
}

//封面彩色标题（CSS＋JS实现，但是我并未将相应的js代码封装，所以就不像卡通字体特效那样可以在任意页面使用，直接函数调用，因为我实在懒得改了）
.dylogobox {
  display: none;
}
.dylogorender {
  width: 100%;
  display: block;
  margin: 10px auto;
}
.dylogorender span {
  font-size: 62px;
  font-weight: 300;
}

//霓虹灯文字特效
#dysvgBox{
	width:100%;
	margin:8px auto;
}
#dysvgBox .text{
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
	fill: none;
	stroke-width: 2px;
	stroke-dasharray: 90 310;
	animation: stroke 6s infinite linear;
}
#dysvgBox .text-1{
	stroke: #3498db;
	text-shadow: 0 0 5px #3498db;
	animation-delay: -1.5s;
}
#dysvgBox .text-2{
	stroke: #f39c12;
	text-shadow: 0 0 5px #f39c12;
	animation-delay: -3s;
}
#dysvgBox .text-3{
	stroke: #e74c3c;
	text-shadow: 0 0 5px #e74c3c;
	animation-delay: -4.5s;
}
#dysvgBox .text-4{
	stroke: #9b59b6;
	text-shadow: 0 0 5px #9b59b6;
	animation-delay: -6s;
}

@keyframes stroke {
	100% {
		stroke-dashoffset: -400;
	}
}

//卡通文字特效
.dykatongwrapper {
	  background-size: 100%;
	  background-repeat: no-repeat;
	  height: 200px;
	  box-sizing: border-box;
	  align-items: center;
	  justify-content: center;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  overflow: auto;
}
.dykatongcontent {
	  font-family: 'Rubik';
	  font-size: 3rem;
	  font-weight: 900;
	  letter-spacing: .04em;
	  display: block;
	  word-spacing: 3rem;
	  line-height: 1.4;
	  text-transform: uppercase;
}
.dykatongcontent div {
	  display: inline;
	}
.dykatongcontent span {
	  display: inline-block;
	}
.dykatongcontent span:hover {
	  animation: wobble 200ms;
}
.dykatongcontent span:nth-child(1n) {
	  color: #F18829;
	  text-shadow: #ef7b11 1px 1px, #f7bd89 -1px -1px, #f37841 -2px -2px 6px, #f49d4f -2px -2px, #f49d4f -1px -2px, #f49d4f -1px -3px, #f49d4f -2px -4px, #f49d4f -2px -5px, #f49d4f -3px -6px, #F18829 -4px -7px, rgba(0, 0, 5, 0.4) 3px 4px 5px, rgba(0, 0, 5, 0.2) -3px -4px 5px;
	  transform: rotate(-3deg);
}
.dykatongcontent span:nth-child(2n) {
	  color: #00B9ED;
	  text-shadow: #00a5d4 1px 1px, #54d9ff -1px -1px, #08f2ff -2px -2px 6px, #17ccff -2px -2px, #17ccff -1px -2px, #17ccff -1px -3px, #17ccff -2px -4px, #17ccff -2px -5px, #17ccff -3px -6px, #00B9ED -4px -7px, rgba(0, 0, 5, 0.4) 3px 4px 5px, rgba(0, 0, 5, 0.2) -3px -4px 5px;
	  transform: rotate(3deg) translateY(4%);
}
.dykatongcontent span:nth-child(3n) {
	  color: #ED5053;
	  text-shadow: #eb393c 1px 1px, #f7acae -1px -1px, #ef6780 -2px -2px 6px, #f17577 -2px -2px, #f17577 -1px -2px, #f17577 -1px -3px, #f17577 -2px -4px, #f17577 -2px -5px, #f17577 -3px -6px, #ED5053 -4px -7px, rgba(0, 0, 5, 0.4) 3px 4px 5px, rgba(0, 0, 5, 0.2) -3px -4px 5px;
	  transform: rotate(-3deg);
}
.dykatongcontent span:nth-child(4n) {
	  color: #00AF4F;
	  text-shadow: #009643 1px 1px, #16ff7f -1px -1px, #00c939 -2px -2px 6px, #00d861 -2px -2px, #00d861 -1px -2px, #00d861 -1px -3px, #00d861 -2px -4px, #00d861 -2px -5px, #00d861 -3px -6px, #00AF4F -4px -7px, rgba(0, 0, 5, 0.4) 3px 4px 5px, rgba(0, 0, 5, 0.2) -3px -4px 5px;
	  transform: rotate(-2deg);
}
.dykatongcontent span:nth-child(5n) {
	  color: #8E509F;
	  text-shadow: #7f478e 1px 1px, #ba8fc6 -1px -1px, #8e5cad -2px -2px 6px, #a266b2 -2px -2px, #a266b2 -1px -2px, #a266b2 -1px -3px, #a266b2 -2px -4px, #a266b2 -2px -5px, #a266b2 -3px -6px, #8E509F -4px -7px, rgba(0, 0, 5, 0.4) 3px 4px 5px, rgba(0, 0, 5, 0.2) -3px -4px 5px;
	  transform: rotate(3deg) translateY(-2%);
}
.dykatongcontent span:nth-child(6n) {
	  color: #F9DE00;
	  text-shadow: #e0c700 1px 1px, #ffee60 -1px -1px, #ffbe14 -2px -2px 6px, #ffe723 -2px -2px, #ffe723 -1px -2px, #ffe723 -1px -3px, #ffe723 -2px -4px, #ffe723 -2px -5px, #ffe723 -3px -6px, #F9DE00 -4px -7px, rgba(0, 0, 5, 0.4) 3px 4px 5px, rgba(0, 0, 5, 0.2) -3px -4px 5px;
	  transform: rotate(5deg) translateY(1%);
}
@keyframes wobble {
	  50% {
		transform: translate(2%, 2%);
	  }
}