<!-- 滚动字体特效 comes from https://blog.csdn.net/qq_45428737/article/details/106299049 -->
<div id="binft"></div>
<script>
  scrollfont(document.getElementById('binft'),<%- JSON.stringify(theme.cover.colourful_subtitle)%>);
</script>