//这里是改的阳光派plus的css代码，https://www.zyoushuo.cn/post/e8f5.html，不完善的地方还很多，仍需改进
//我无法修改“相关文章”的暗色背景，不知道哪里出了问题，谁会啊？

.DarkMode
  #l_body
    background-color: #353637
  .l_main
    #post-calendar
      background-color: #ebedf0
      border-radius: 8px
    .link-card
      a
        background-color: #f1f1f1
      .text
        color: #44444475
      &:hover
        box-shadow: 5px 3px 3px #b1b1b1
    .card-content
      span
        color: #a8a8a8
    .references
      background: #44444475 !important
    .post-list
      .md
        color: #a9aaab
    #comments
      .vcards
        .vhead
          .vsys
            background:none
        .vcontent
          p
            color: rgb(136 136 136)
      .vinput
        color: #dbdbe2
      #valine_container
        .vwrap
          border: 1px dashed #fff
          .vemojis
            background:none
        .vcards
          p
            color: #ffffff7a
          .vcard
            border: 1px dashed #8a8a8a
          .vh
            .vcard
              border: none
      button
        background: #ffffffbd
    .post
      section
        .title
          a
            color: #dbdbe2
    .article
      .prev-next
        >a
          background: #444
  .widget
    background-color: #292a2d
    >.content
      ul
        >li
          a
            color: rgba(255, 255, 255, .6) !important
            &:hover
              color: rgb(99 203 252) !important
    header
      color: rgb(68 215 182)
      a
        color: rgb(68 215 182)
    a.newcomment
      color: #717171 !important
  .container
    background-color: #292a2d
  .white-box
    background-color: #292a2d

  .article
    code
      background: #f6f6f663 !important
      border: none
    blockquote
      background: #f6f6f663
    h2
      color: #44d7b6
    h3,h4,h5
      color: rgb(219 219 226)
  div.note
    background: #44444475 !important
  details
    border: none
    background:none
    >summary
      background: #444

  .l_header
    background: #292a2d !important
    box-shadow: 0 2px 3px 0 rgba(6,6,6,.28)
    .m_search
      .input
        background-color: #292a2d
    .wrapper
      .title
        color: #dbdbe2
    .switcher
      >li >a
        color: #44d7b6 !important

  #archive-page
    .archive
      .archive-year
        h2
          color: #fff
      .archive_page
        .archive-post
          .title
            color: rgb(219 219 226)
    .all-categories
      time,.title
        color: #dbdbe2
  
  .btn-copy
    color: #fff !important
    background: #797a7c
  #RightDownBtn
    background: none
  h1
    color: rgb(219 219 226)
  ul.list-v
    background: rgb(41 42 45)

  .comments
    hr
      color: rgb(102 102 102)
    .article
      p[ct]
        color: #dbdbe2
  div.tabs
    background: rgb(102 102 102)
  .new-meta-item
    p
      color: #888 !important
  .highlight>table
      background: #282c34
  .gutter
    background: #282c34 !important
    background-color: #282c34 !important
  .highlight 
    figcaption
      background-color: #21252b
  .highlight
    border: 1px solid #21252b !important
    background: #282c34
    box-shadow: none
  .highlight pre .line, .highlight pre .params 
      color: rgba(158, 142, 142, 0.9)
  .highlight pre .comment
    color: #ffffffbd
  .cover-wrapper#half
    box-shadow:0px 10px 13px #182026
    -webkit-box-shadow:0px 10px 13px #182026
    -moz-box-shadow:0px 10px 13px #182026

  div.timenode .body
    background: #78787861
  article#comments hr
    background: #000